:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	margin-left: 15%;
}

p {
	margin-left: 50%;
}
